@media(max-width:1500px){
    .filterElement {
        width:21rem;
        height: 285px;
    }
    .logo {
        width: 250px;
        height: 100px;
    }
}
@media(max-width:1024px) {

}
